/* Adding Google fonts using import */

/* Cantata One */
@import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");

/* Sorts Mill Goudy */
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");

/* The above fonts are used specifically for the brand name and slogan. */

/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400;1,600;1,700;1,900&display=swap");

/* Playfair Display SC */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");

/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/*------------------------------------------------ KEYFRAMES */
/* Simple fade animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade used in the navbar growth from bottom to top. */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Fade used in the ingredientes section, from bottom to top. */
@keyframes fadeInIngredients {
  0% {
    opacity: 0;
    transform: translate(0, 500px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Before implementing bootstrap i made those carrousel be like 
 * to change images and quotes on my parallax.
*/
@keyframes changeParallax {
  0% {
    background-image: url(../../img/parallax/parallax_1.jpg);
  }
  50% {
    background-image: url(../../img/parallax/parallax_2.jpg);
  }
  100% {
    background-image: url(../../img/parallax/parallax_3.jpg);
  }
}

@keyframes changeQuotes {
  0% {
    opacity: 0;
    content: '"Passion for the Mexican Flavor"';
  }
  24% {
    opacity: 1;
    content: '"Passion for the Mexican Flavor"';
  }
  25% {
    opacity: 0;
    content: '"Love beign mexican"';
  }
  49% {
    opacity: 1;
    content: '"Love beign mexican"';
  }
  50% {
    opacity: 0;
    content: '"The most important ingredient is passion"';
  }
  74% {
    opacity: 1;
    content: '"The most important ingredient is passion"';
  }
  75% {
    opacity: 0;
    content: '"Life serves to give beauty"';
  }
  100% {
    opacity: 1;
    content: '"Life serves to give beauty"';
  }
}

/* Universal selector used to reset browser's styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Applying this style, we set the relative units to 10px 
 * now we can take as a reference 1rem equals to 10px.
 */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Used to set an 85 percent width to my sections */
.container_85 {
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  width: 85%;
}

/* Setting a flowery body backgrund */
body {
  background-attachment: fixed;
  background-image: url(../../img/chef/flowers.png);
  background-repeat: repeat;
  background-size: cover;
  z-index: 1;
}

/*------------------------------------------------ MAIN PARALLAX */
.main-parallax-container {
  animation: changeParallax calc(10s) infinite;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  z-index: 1;
}

.parallax-container__opacity {
  background-color: #000;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.parallax-container__titles {
  align-items: center;
  animation: fadeIn 4s;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 3;
  width: 100%;
}

.parallax-container__titles > h1 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 10rem;
  font-style: italic;
  font-weight: 700;
}

.parallax-container__titles > h2 {
  color: #fff;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.parallax-container__titles > h2 > span {
  color: #fb6e14;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .parallax-container__titles > h1 {
    font-size: 20rem;
  }

  .parallax-container__titles > h2 {
    font-size: 2.5rem;
  }

  .parallax-container__titles > h2 > span {
    font-size: 2.5rem;
  }
}

/*------------------------------------------------ PARALLAX RESPONSIVE */
@media (min-width: 900px) {
  .parallax-container__titles > h1 {
    font-size: 30rem;
  }

  .parallax-container__titles > h2 {
    font-size: 4rem;
  }

  .parallax-container__titles > h2 > span {
    font-size: 4rem;
  }
}

/*------------------------------------------------ NAVBAR */

/* BOOTSTRAP RESPONSIVE MENU */
.responsive-menu {
  display: none;
  height: 2.5rem;
  margin: 2rem 0 0 2rem;
  position: absolute;
  width: 2.5rem;
}

#burger-btn {
  background-image: url(../../img/burger-menu/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: inherit;
  width: inherit;
}

#burger-btn:focus {
  outline: none;
  box-shadow: none;
}

#offcanvasWithBackdrop {
  background-image: url(../../img/chef/flowers.png);
  background-repeat: none;
  background-size: contain;
  height: 100%;
}

.offcanvas-header {
  background-color: rgba(255, 255, 255, 0.9);
}

#close-menu {
  background-image: url(../../img/burger-menu/close-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto 1rem;
  height: 3rem;
  width: 3rem;
}

#close-menu:focus {
  box-shadow: none;
  outline: none;
}

#burger-menu-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 5rem;
}

#burger-menu-container > img {
  height: 15rem;
  width: 15rem;
}

#burger-menu-container > ul {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display SC", Arial, Helvetica, sans-serif;
  font-size:2rem;
  height: 100%;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 90%;
}

#burger-menu-container > ul > li {
  text-align: center;
}

#burger-menu-container > ul > li > a {
  color: inherit;
  text-decoration: none;
}

#burger-menu-container > ul > li > a:hover {
  color: #fb6e14;
}
/* BOOTSTRAP RESPONSIVE MENU END */

.main-header-nav {
  background-color: #fff;
  border: 0.1rem solid #e6e6e6;
  box-shadow: 0 1.4rem 1.4rem -1.4rem rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-nav-container {
  color: #2d2d2d;
  display: flex;
  font-family: "Playfair Display SC", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  justify-content: center;
  width: 100%;
}

/* Navbar left section */
.header-nav__left {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  width: 30%;
}

.header-nav__left > li {
  align-items: center;
  display: flex;
  height: 95%;
  padding: 0 2rem;
}

.header-nav__left > li > a {
  color: #2d2d2d;
  text-decoration: none;
}

.header-nav__left > li > a:hover {
  color: #fb6e14;
}

/* Navbar logo section */
.header-nav__center {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 15%;
}

.header-nav__center > a {
  color: #130d08;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
}

.header-nav__center > a:hover {
  color: #fb6e14;
  transform: scale(1.2);
}

/* Navbar right section */
.header-nav__right {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  width: 30%;
}

.header-nav__right > li {
  align-items: center;
  display: flex;
  padding: 0 2rem;
  height: 95%;
}

.header-nav__right > li > a {
  color: #2d2d2d;
  text-decoration: none;
}

.header-nav__right > li > a:hover {
  color: #fb6e14;
}

/*------------------------------------------------ NAVBAR RESPONSIVE */
@media (min-width: 200px) {
  .header-nav__left {
    display: none;
  }
  .header-nav__right {
    display: none;
  }
  .responsive-menu {
    display: block;
    animation: fade 2s ease;
  }
}

@media (min-width: 900px) {
  .header-nav__left {
    animation: fadeIn 2s normal;
    display: flex;
  }
  .header-nav__right {
    animation: fadeIn 2s normal;
    display: flex;
  }
  .responsive-menu {
    display: none;
  }
}

/*------------------------------------------------ ABOUT SECTION */
.about-section-main {
  background-color: #fff;
  padding: 5rem 1rem;
}

.about-section-container {
  border-radius: 2rem;
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template:
    "about-img" 0.6fr
    "about-info" 1.6fr / 1fr;
  height: auto;
  margin-top: 5rem;
  width: 100%;
}

#about-img  {
  grid-area: about-img;
}

#about-info {
  grid-area: about-info;
}

.about-section-container_image {
  background-image: url(../../img/about-section/about-section2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
  height: 100%;
  width: 100%;
}

.about-section-container_info {
  align-items: center;
  background-image: url(../../img/about-section/about_section_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem 0;
  width: 100%;
}

.about-section-container_info > h2 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
}

.about-section-container_info > img {
  width: 25rem;
}

.about-section-container_info > p {
  color: #a99c92;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  height: auto;
  line-height: 2.5rem;
  margin: 2rem 0;
  padding: 0 2rem;
  text-align: center;
  width: 90%;
}

.about-section-container_info > a {
  align-items: center;
  background-color: transparent;
  border: 0.2rem solid #fb6e14;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-family: "Playfair Display";
  font-size: 1.2rem;
  height: 4rem;
  justify-content: center;
  margin: 2rem 0;
  text-decoration: none;
  width: 15rem;
}

.about-section-container_info > a:hover {
  background-color: #fb6e14;
}

/*------------------------------------------------ ABOUT SECTION RESPONSIVE */
@media (min-width: 600px) {
  .about-section-container {
    grid-template:
      "about-img" 0.6fr
      "about-info" 1fr / 1fr;
  }
}

@media (min-width: 900px) {
  .about-section-container {
    grid-template:
      "about-img about-info" 2fr
      / 1fr 1fr;
  }
  .about-section-container_image {
    border-radius: 2rem 0 0 2rem;
  }
  .about-section-container_info {
    border-radius: 0 2rem 2rem 0;
  }
  .about-section-main {
    padding: 5rem;
  }
}

/*------------------------------------------------ SPECIALS SECTION */
.specials-section-container {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.specials-section-container > h2 {
  color: #2d2d2d;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
  margin-top: 10rem;
  text-align: center;
  width: 100%;
}

.specials-section-container > img {
  margin-bottom: 4rem;
  width: 25rem;
}

.specials-section_grid-container {
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template:
    "dish_1" 1fr
    "dish_2" 1fr
    "dish_3" 1fr
    "dish_4" 1fr
    "dish_5" 1fr
    "dish_6" 1fr / 1fr;
  height: auto;
  width: 100%;
}

#dish_1 {
  background-color: #faebcd;
  grid-area: dish_1;
}
#dish_img1 {
  background-image: url(../../img/popular-dishes/pupular_dish1.jpeg);
}
#dish_2 {
  background-color: #f5f5f5;
  grid-area: dish_2;
}
#dish_img2 {
  background-image: url(../../img/popular-dishes/popular_dish2.jpg);
}
#dish_3 {
  background-color: #f5f5f5;
  grid-area: dish_3;
}
#dish_img3 {
  background-image: url(../../img/popular-dishes/popular_dish3.jpeg);
}
#dish_4 {
  background-color: #f5f5f5;
  grid-area: dish_4;
}
#dish_img4 {
  background-image: url(../../img/popular-dishes/popular_dish4.jpeg);
}
#dish_5 {
  background-color: #f5f5f5;
  grid-area: dish_5;
}
#dish_img5 {
  background-image: url(../../img/popular-dishes/popular_dish5.jpg);
}
#dish_6 {
  background-color: #faebcd;
  grid-area: dish_6;
}
#dish_img6 {
  background-image: url(../../img/popular-dishes/popular_dish6.jpg);
}

.specials-section_dish-container {
  display: flex;
  flex-direction: column;
}

.specials-section_dish-container:hover {
  animation: fade 1s normal;
  box-shadow: 0 0.2rem 5rem -0.5rem rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}

.specials-section_dish-container_lg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw;
  width: 100%;
}

.specials-section_dish-container_lg-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vw;
  justify-content: center;
  padding: 1.5rem;
  width: 100%;
}

.specials-section_dish-container_lg-info > h3 {
  color: #2d2d2d;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 2rem;
}

.specials-section_dish-container_lg-info > img {
  width: 25rem;
}

.specials-section_dish-container_lg-info > span {
  color: #5e493a;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.specials-section_dish-container_lg-info > p {
  color: #222;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 2rem 0;
  text-align: center;
}

/*------------------------------------------------ SPECIAL SECTION RESPONSIVE */
@media (min-width: 600px) {
  .specials-section_grid-container {
    border-radius: 2rem;
    grid-template:
      "dish_1" 1fr
      "dish_2" 1fr
      "dish_3" 1fr
      "dish_4" 1fr
      "dish_5" 1fr
      "dish_6" 1fr / 1fr;
    width: 85%;
    margin-bottom: 5rem;
  }

  .specials-section_dish-container {
    flex-direction: row;
  }

  #dish_2,
  #dish_4,
  #dish_6 {
    flex-direction: row-reverse;
  }

  #dish_1 {
    border-radius: 2rem 2rem 0;
  }
  #dish_img1 {
    border-radius: 2rem 0 0;
  }
  #dish_6 {
    border-radius: 0 0 2rem 2rem;
  }
  #dish_img6 {
    border-radius: 0 0 2rem;
  }

  .specials-section_dish-container_lg-image {
    height: 100%;
    width: 50%;
  }

  .specials-section_dish-container_lg-info {
    height: 100%;
    width: 50%;
  }

  .specials-section_dish-container_lg-info > img {
    width: 20rem;
  }

  .specials-section_dish-container:hover {
    animation: fade 1s normal;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 5rem -0.5rem rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
  }

  #dish_1:hover {
    border-radius: 2rem;
  }
  #dish_1:hover .specials-section_dish-container_lg-image {
    border-radius: 2rem 0 0 2rem;
  }

  /* Used for dish 2 & 4 */
  .specials-section_dish-container:hover
    .specials-section_dish-container_lg-image {
    border-radius: 0 2rem 2rem 0;
  }

  #dish_3:hover .specials-section_dish-container_lg-image {
    border-radius: 2rem 0 0 2rem;
  }
  #dish_5:hover .specials-section_dish-container_lg-image {
    border-radius: 2rem 0 0 2rem;
  }

  #dish_6:hover {
    border-radius: 2rem;
  }
  #dish_6:hover .specials-section_dish-container_lg-image {
    border-radius: 0 2rem 2rem 0;
  }
}

@media (min-width: 1000px) {
  .specials-section_grid-container {
    grid-template:
      "dish_1 dish_2" 1fr
      "dish_1 dish_3" 1fr
      "dish_4 dish_6" 1fr
      "dish_5 dish_6" 1fr / 1fr 1fr;
    width: 90%;
  }

  #dish_2,
  #dish_6 {
    flex-direction: row;
  }

  #dish_3 {
    flex-direction: row-reverse;
  }

  #dish_1 {
    border-radius: 2rem 0 0;
  }

  #dish_2 {
    border-radius: 0 2rem 0;
  }

  #dish_5 {
    border-radius: 0 0 0 2rem;
  }
  #dish_img5 {
    border-radius: 0 0 0 2rem;
  }
  #dish_img6 {
    border-radius: 0;
  }

  .specials-section_dish-container_lg-info > img {
    width: 18rem;
  }

  #dish_2:hover {
    border-radius: 2rem;
  }
  #dish_2:hover .specials-section_dish-container_lg-image {
    border-radius: 2rem 0 0 2rem;
  }

  /* Used for dish 2 & 4 */
  .specials-section_dish-container:hover
    .specials-section_dish-container_lg-image {
    border-radius: 0 2rem 2rem 0;
  }

  #dish_3:hover .specials-section_dish-container_lg-image {
    border-radius: 0 2rem 2rem 0;
  }

  #dish_5:hover {
    border-radius: 2rem;
  }
  #dish_5:hover .specials-section_dish-container_lg-image {
    border-radius: 2rem 0 0 2rem;
  }

  #dish_6:hover {
    border-radius: 2rem;
  }
  #dish_6:hover .specials-section_dish-container_lg-image {
    border-radius: 2rem 0 0 2rem;
  }
}

/*------------------------------------------------ INGREDIENTS SECTION */
.intro-menu-section-container {
  align-items: center;
  background-image: url(../../img/about-section/about_section_bg.png);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.ingredients-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15rem 5rem;
  width: 90%;
}

.ingredients-container_generic {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*Circle div*/
.ingredients-container_generic > div {
  border: 0.3rem solid white;
  border-radius: 8rem;
  margin: 0 3rem 1rem;
  padding: 2rem;
}

.ingredients-container_generic > p {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: auto;
  margin-bottom: 3rem;
  line-height: 1.5;
  text-align: center;
  width: 85%;
  word-wrap: break-word;
}

#fruit-container {
  animation: fadeInIngredients 2s normal;
  animation-delay: 1000ms;
}

#seafood-container {
  animation: fadeInIngredients 2s normal;
  animation-delay: 1200ms;
}

#vegetables-container {
  animation: fadeInIngredients 2s normal;
  animation-delay: 1400ms;
}

#meat-container {
  animation: fadeInIngredients 2s normal;
  animation-delay: 1600ms;
}

/*------------------------------------------------ INGREDIENTS RESPONSIVE */
@media (min-width: 1000px) {
  .ingredients-container {
    flex-direction: row;
  }
  .ingredients-container_generic {
    width: 80%;
  }
}

/*------------------------------------------------ MENU SECTION PAGE */
.menu-section-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 85vw;
}

.menu-section-container > h2 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
  margin-top: 10rem;
}

.menu-section-container > img {
  width: 25rem;
}

.menu-section-container > ul {
  align-items: center;
  color: #fff;
  display: flex;
  height: 5rem;
  justify-content: center;
  list-style: none;
  margin: 2rem 0;
  width: inherit;
}

.menu-section-container > ul > li {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  height: inherit;
  margin: 0 0.2rem;
}

.menu-section-container > ul > li > button {
  color: #fff;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #fb6e14;
  color: #fff;
}

.nav-pills .nav-link:hover {
  border: 0.2rem solid #fb6e14;
  color: #fff;
}

#pills-tabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.menu-content {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-bottom: 15rem;
  padding: 2rem;
}

.menu-section {
  color: #fff;
  display: flex;
  flex-flow: column wrap;
}

.menu-section {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

.menu-section > table tbody tr > td:first-child {
  line-height: 1.5;
  padding: 2rem 0 0;
  text-transform: uppercase;
}

.menu-section > table tbody tr:nth-child(even) > td {
  font-style: italic;
  padding: 0;
  text-transform: lowercase;
}

.menu-section > table tbody tr > td:nth-child(even) {
  padding: 2rem 0 0;
}

/*------------------------------------------------ PARALLAX QUOTES */
.parallax-quote-container {
  background-attachment: fixed;
  background-image: url(../../img/quote_3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  z-index: 1;
}

.parallax-quote-container_opacity {
  background-color: #000;
  height: inherit;
  width: inherit;
  opacity: 0.5;
  position: absolute;
  z-index: 3;
}

.parallax-quote-container_text {
  align-items: center;
  /* animation: fadeIn 4s infinite; */
  display: flex;
  flex-flow: column wrap;
  height: inherit;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 3;
  width: inherit;
}

.parallax-quote-container_text > h3 {
  color: #fff;
  font-family: "Playfair Display SC", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.parallax-quote-container_text > h3::before {
  content: "";
  animation-name: changeQuotes;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
}

.parallax-quote-container_text > img {
  width: 25rem;
}

/*------------------------------------------------ CHEF SECTION */
.chef-section-container {
  background-color: #fff;
  height: auto;
  width: 100%;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-section {
  border-radius: 2rem;
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.75);
  margin: 5rem 0 0;
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.chef-section_image {
  background-image: url(../../img/chef/our-chef1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 2rem 2rem 0;
  height: auto;
  width: 100%;
}

.chef-section_info {
  align-items: center;
  background-image: url(../../img/about-section/about_section_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem 0;
  width: 100%;
}

.chef-section_info > h2 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
}

.chef-section_info > img {
  width: 25rem;
}

.chef-section_info > p {
  color: #a99c92;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  height: auto;
  line-height: 2.5rem;
  margin: 2rem 0;
  padding: 0 2rem;
  text-align: center;
  width: 90%;
}

.chef-section_info > a {
  align-items: center;
  background-color: transparent;
  border: 0.2rem solid #fb6e14;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-family: "Playfair Display";
  font-size: 1.2rem;
  height: 4rem;
  justify-content: center;
  margin: 2rem 0;
  text-decoration: none;
  width: 15rem;
}

.chef-section_info > a:hover {
  background-color: #fb6e14;
}

/*------------------------------------------------ CHEF SECTION RESPONSIVE */
@media (min-width: 900px) {
  .chef-section {
    flex-direction: row-reverse;
  }
  .chef-section_info {
    border-radius: 2rem 0 0 2rem;
  }
}

/*------------------------------------------------ PARALLAX BOOK TABLE */
.parallax-book-table-container {
  background-attachment: fixed;
  background-image: url(../../img/reservations/parallax-reservations4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  z-index: 1;
}

.parallax-book-table-container_opacity {
  background-color: #000;
  height: inherit;
  width: 85%;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

.parallax-book-table-container_text {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: inherit;
  justify-content: center;
  padding: 5rem 0;
  position: absolute;
  text-align: center;
  z-index: 3;
  width: inherit;
}

.parallax-book-table-container_text > h2 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.parallax-book-table-container_text > img {
  width: 25rem;
  margin-bottom: 2rem;
}

.parallax-book-table-container_text > p {
  color: #fff;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-bottom: 6rem;
  width: 90%;
}

.parallax-book-table-container_text > a {
  align-items: center;
  background-color: transparent;
  border: 0.2rem solid #fb6e14;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-family: "Playfair Display";
  font-size: 1.2rem;
  height: 4rem;
  justify-content: center;
  text-decoration: none;
  width: 15rem;
}

.parallax-book-table-container_text > a:hover {
  background-color: #fb6e14;
}

/*------------------------------------------------ PARALLAX BOOK TABLE RESPONSIVE */
@media (min-width: 600px) {
  .parallax-book-table-container_text > p {
    width: 65%;
  }
}

@media (min-width: 900px) {
  .parallax-book-table-container_text > p {
    width: 45%;
  }
}

/*------------------------------------------------ FOOTER SECTION */
/* Credits section of the footer */
.footer-section {
  align-items: center;
  background-image: url(../../img/about-section/about_section_bg.png);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: auto;
  padding: 5rem 0;
}

#heart-icon {
  font-size: 1.5rem;
}

#hot-bevereage {
  font-size: 2rem;
}

#mexican-flag {
  font-size: 2rem;
}

.footer-section-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-section_brand-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-section_brand-logo > div > img {
  height: 15rem;
  width: 15rem;
}

.footer-section_brand-logo_text {
  display: none;
}

.footer-section_social-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

.footer-section_social-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 0;
  width: 80%;
}

.footer-section_social-title > span {
  font-weight: bold;
}

.footer-section_social-images > img {
  height: 4rem;
  width: 4rem;
}

.footer-section_social-images > img:hover {
  transform: scale(1.5);
}

.footer-section_social-direction > span {
  color: #fb6e14;
}

.footer-section_credits {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-top: 5rem;
  width: 100%;
}

.footer-section_credits span {
  height: 4rem;
  line-height: 4rem;
}

/*------------------------------------------------ FOOTER SECTION RESPONSIVE */
@media (min-width: 800px) {
  .footer-section-flex {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }
  .footer-section_brand-logo_text {
    display: block;
  }
  .footer-section_brand-logo {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .footer-section-flex {
    width: 60%;
  }
}

/*------------------------------------------------ ABOUT PAGE */
.about-main-container {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5rem 2rem;
  width: 100%;
}

.about-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.about-header > h2 {
  color: #2d2d2d;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.about-header > img {
  width: 25rem;
}

.about-paragraph > p {
  color: #2d2d2d;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

.anti-carousel {
  border-radius: 2rem;
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.75);
  margin-top: 5rem;
}

.anti-carousel img {
  border-radius: 2rem;
}

/*------------------------------------------------ ABOUT PAGE RESPONSIVE */
@media (min-width: 600px) {
  .about-paragraph {
    width: 80%;
  }
  .anti-carousel {
    width: 45rem;
  }
}
@media (min-width: 900px) {
  .about-paragraph {
    width: 60%;
  }
}

/*------------------------------------------------ CHEF PAGE */
.chef-main-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5rem 2rem;
  width: 100%;
}

.chef-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.chef-header > h2 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
}

.chef-header > img {
  width: 25rem;
}

.chef-paragraph > p {
  color: #fff;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  height: auto;
  line-height: 2.5rem;
  margin: 2rem 0;
  text-align: center;
}

.anti-chef-carousel {
  border-radius: 2rem;
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(255, 255, 255, 0.75);
  margin-top: 2rem;
}

.anti-chef-carousel img {
  border-radius: 2rem;
}

.anti-chef-carousel .carousel-caption {
  left: 0;
}

.anti-chef-carousel p {
  background-color: rgba(0, 0, 0, 0.55);
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1rem;
}

/*------------------------------------------------ CHEF PAGE RESPONSIVE */
@media (min-width: 600px) {
  .chef-paragraph {
    width: 80%;
  }
  .anti-chef-carousel {
    width: 45rem;
  }
}
@media (min-width: 900px) {
  .chef-paragraph {
    width: 60%;
  }
}

/*------------------------------------------------ CONTACT US PAGE */
.contact-title-banner {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  margin: 3.5rem 0;
}

.contact-title-banner > h2 {
  color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
}

.contact-title-banner > img {
  width: 25rem;
}

.contact-form-main {
  box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 1);
}

.contact-form-container-85 {
  border-radius: 2rem;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.contact-form-main {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 2rem;
  color: #fff;
  margin: 0 0 3.5rem;
  max-width: 100%;
  padding: 5rem;
}

.contact-form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.contact-form-buttons > button{
  height: 3rem;
  margin: 1rem 0 0;
  width: 10rem;
}

/*------------------------------------------------ CONTACT US PAGE RESPONSIVE */

@media (min-width: 576px) { 
  #contact-form {
    width: 65%;
  }
}

@media (min-width: 768px) { 
  #contact-form {
    width: 55%;
  }
}

@media (min-width: 992px) { 
  #contact-form {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  #contact-form {
    width: 35%;
  }
}

@media (min-width: 1400px) {
  #contact-form {
    width: 25%;
  }
}