/*------------------------------------------------ ABOUT SECTION */
.about-section-main {
  background-color: $global-secondary-color;
  padding: 5rem 1rem;
}

.about-section-container {
  @include genericBoxShadow(2rem, $default-container-85-shadow);
  @include sizes(auto, 100%);

  display: grid;
  grid-template:
    "about-info" 1 / 1fr;

    &__image {
    @include genericCardImg($about-us-section-img, 100%, 100%);
    border: {
      radius: 2rem 2rem 0 0;
    }
  }

  &__info {
    @include genericCardInfo($default-index-section-img-bg, auto, 90%);
  }
}

#about-img  {
  grid-area: about-img;
}

#about-info {
  grid-area: about-info;
}

/*------------------------------------------------ ABOUT SECTION RESPONSIVE */
@media (min-width: 600px) {
  .about-section-container {
    grid-template:
      "about-img" 0.6fr
      "about-info" 1fr / 1fr;

    &__info {
      border-radius: 0 0 2rem 2rem;
    }
  }
}

@media (min-width: 900px) {
  .about-section-main {
    padding: 5rem;
  }

  .about-section-container {
    grid-template:
      "about-img about-info" 2fr
      / 1fr 1fr;

    &__image {
      border-radius: 2rem 0 0 2rem;
    }

    &__info {
      border-radius: 0 2rem 2rem 0;
    }
  }
}
