/*------------------------------------------------ FOOTER SECTION */
.footer-section {
  @include flexDirection($global-flex-colum);
  @include colorFontStyle($global-secondary-color, $footer-font-style);
  align-items: center;
  background-image: url(../../img/about-section/about_section_bg.png);
  height: auto;
  padding: 5rem 0;

  &__flex {
    @include flexDirection($global-flex-colum);
    width: 100%;
  }

  &__social {
    @include flexDirection($global-flex-colum);
    align-items: center;
    padding: 2rem 0;
    width: 100%;

    &--images {
      @include flexDirection($global-flex-row);
      justify-content: space-evenly;
      margin: 3rem 0;
      width: 80%;

      img {
        @include sizes(4rem, 4rem);
    
        &:hover {
          transform: scale(1.5);
        }
      }
    }

    &--title {
      span {
        font-weight: bold;
      }
    }

    &--direction { 
      span {
        color: $global-accent-color;
      }
    }
  }

  &__credits {
    @include flexDirection($global-flex-colum);
    align-items: center;
    background-color: $bgc-container-black-50;
    line-height: 2rem;
    margin-top: 5rem;
    width: 100%;
  
    span {
      height: 4rem;
      line-height: 4rem;
    }
  }
}

#heart-icon {
  @include footerIconStyle($footer-icon-size-s);
}

#hot-bevereage {
  @include footerIconStyle($footer-icon-size-m);
}

#mexican-flag {
  @extend #hot-bevereage;
}

.brand-logo {
  @include flexDirection($global-flex-colum);
  align-items: center;

  div {
    img {
      @include sizes(15rem, 15rem);
      height: 15rem;
      width: 15rem;
    }
  }

  &__text {
    display: none;
    line-height: 1.5;
  }
}

/*------------------------------------------------ FOOTER SECTION RESPONSIVE */
@media (min-width: 800px) {
  .footer-section__flex {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }
  .brand-logo {
    flex-direction: row;

    &__text {
      display: block;
    }
  }
}
@media (min-width: 1000px) {
  .footer-section__flex {
    width: 60%;
  }
}