/*------------------------------------------------ NAVBAR */
.header-nav {
  background-color: $global-secondary-color;
  border: $nav-border-style;
  box-shadow: $default-header-nav-shadow;
  position: sticky;
  top: 0;
  z-index: 9999;
  
  /* Navbar container */
  &__container {
    @include colorFontStyle($global-primary-color, $nav-font-style);
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* Navbar left section */
  &__left {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    width: 30%;
    
    li {
      align-items: center;
      display: flex;
      height: 95%;
      padding: 0 2rem;
  
      a {
        color: $global-primary-color;
        text-decoration: none;
  
        &:hover {
        color: $global-accent-color;
        }
      }
    }
  }

  /* Navbar logo section */
  &__center {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 15%;
  
    a {
      @include colorFontStyle($text-logo-color, $nav-logo-style);
      text-decoration: none;
    
      &:hover {
        color: $global-accent-color;
        transform: scale(1.2);
      }
    }
  }

  /* Navbar right section */
  &__right {
    @extend .header-nav__left;
    justify-content: start;
  }
}

/*------------------------------------------------ NAVBAR RESPONSIVE */
@media (min-width: 200px) {
  .header-nav__left {
    display: none;
  }
}

@media (min-width: 900px) {
  .header-nav__left {
    animation: fadeIn 2s normal;
    display: flex;
  }
}