/*------------------------------------------------ PARALLAX BOOK TABLE */
.parallax-book-table-container {
  background-attachment: fixed;
  background-image: url(../../img/reservations/parallax-reservations4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  z-index: 1;

  &__opacity {
    background-color: #000;
    height: inherit;
    width: 85%;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
  }

  &__text {
    @include flexDirection($global-flex-colum);
    @include sizes(inherit, inherit);
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    position: absolute;
    text-align: center;
    z-index: 3;

    h2 {
      @include colorFontStyle(
        $global-secondary-color,
        $default-title-page-style
      );
      letter-spacing: 0.2rem;
    }

    img {
      @include separatorImg;
      margin-bottom: 2rem;
    }

    p {
      @include colorFontStyle(
        $global-secondary-color,
        $default-paragraph-style
      );
      letter-spacing: 0.2rem;
      margin-bottom: 6rem;
      width: 90%;
    }

    a {
      @include genericIndexButton;
      margin: 0;
    }
  }
}

/*------------------------------------------------ PARALLAX BOOK TABLE RESPONSIVE */
@media (min-width: 600px) {
  .parallax-book-table-container__text > p {
    width: 65%;
  }
}

@media (min-width: 900px) {
  .parallax-book-table-container__text > p {
    width: 45%;
  }
}
