/*------------------------------------------------ ABOUT PAGE */
.about-main-container {
  @include flexDirection($global-flex-colum);
  @include sizes(auto, 100%);
  align-items: center;
  background-color: $bgc-container-black-90;
  padding: 5rem 2rem;
}

.about-header {
  @include flexDirection($global-flex-colum);
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    @include colorFontStyle($global-secondary-color, $default-title-page-style);
    text-align: center;
  }

  img {
    @include separatorImg;
  }
}

.about-paragraph > p {
  @include colorFontStyle($global-secondary-color, $default-paragraph-style);
  text-align: center;
}

.anti-carousel {
  @include genericBoxShadow(2rem, $default-carousel-container-shadow);
  margin-top: 5rem;

  img {
    border-radius: 2rem;
  }
}

/*------------------------------------------------ ABOUT PAGE RESPONSIVE */
@media (min-width: 600px) {
  .about-paragraph {
    width: 80%;
  }
  .anti-carousel {
    width: 45rem;
  }
}
@media (min-width: 900px) {
  .about-paragraph {
    width: 60%;
  }
}