/*------------------------------------------------ CHEF PAGE */
.chef-main-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5rem 2rem;
    width: 100%;
  }
  
  .chef-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
  
  .chef-header > h2 {
    color: #fff;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: lighter;
  }
  
  .chef-header > img {
    width: 25rem;
  }
  
  .chef-paragraph > p {
    color: #fff;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    height: auto;
    line-height: 2.5rem;
    margin: 2rem 0;
    text-align: center;
  }
  
  .anti-chef-carousel {
    border-radius: 2rem;
    box-shadow: 0 0.2rem 2.5rem -0.5rem rgba(255, 255, 255, 0.75);
    margin-top: 2rem;
  }
  
  .anti-chef-carousel img {
    border-radius: 2rem;
  }
  
  .anti-chef-carousel .carousel-caption {
    left: 0;
  }
  
  .anti-chef-carousel p {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem;
  }
  
  /*------------------------------------------------ CHEF PAGE RESPONSIVE */
  @media (min-width: 600px) {
    .chef-paragraph {
      width: 80%;
    }
    .anti-chef-carousel {
      width: 45rem;
    }
  }
  @media (min-width: 900px) {
    .chef-paragraph {
      width: 60%;
    }
  }