$default-body-background: url(../../img/chef/flowers.png);
$default-carousel-container-shadow: 0 0.2rem 2.5rem -0.5rem rgba(255, 255, 255, 0.75);
$default-container-85-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.75);
$default-font-group: Arial, Helvetica, sans-serif;
$default-form-contact-reservation-shadow: 0 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 1);
$default-header-nav-shadow: 0 1.4rem 1.4rem -1.4rem rgba(0, 0, 0, 0.75);
$default-title-page-style: italic lighter 3rem "Playfair Display", $default-font-group;
$default-paragraph-style: normal 300 1.6rem Merriweather, $default-font-group;
$default-index-text-button-style: normal lighter 1.2rem "Playfair Display", $default-font-group;
$default-index-section-img-bg: url(../../img/about-section/about_section_bg.png);
$default-null-arg: null;
$default-chef-arg: chef;

$global-primary-color: #2d2d2d;
$global-secondary-color: #fff;
$global-alternative-color: #a99c92;
$global-accent-color: #fb6e14;
$global-accent-secondary-color: #fc8c45;
$global-parallax-bg-color: #000;

$global-separator-size: 25rem;

$global-flex-colum: column;
$global-flex-colum-r: column-reverse;
$global-flex-row: row;
$global-flex-row-r: row-reverse;

$text-logo-color: #130d08;

$bgc-container-black-90: rgba(0, 0, 0, 0.9);
$bgc-container-black-50: rgba(0, 0, 0, 0.5);
$bgc-container-black-55: rgba(0, 0, 0, 0.55);
$bgc-container-white-90: rgba(255, 255, 255, 0.9);

$parallax-main-title-font-style: italic 700 10rem "Playfair Display", $default-font-group;
$parallax-main-subtitle-font-style: normal 300 1.5rem Merriweather, $default-font-group;

$nav-font-style: normal 1.6rem "Playfair Display SC", $default-font-group;
$nav-logo-style: italic 700 4rem "Playfair Display", $default-font-group;
$nav-border-style: 0.1rem solid #e6e6e6;

$burger-font-style: normal 2rem "Playfair Display SC", $default-font-group;

$about-us-section-img: url(../../img/about-section/about-section2.jpg);

$parallax-quotes-font-style: normal 300 4rem "Playfair Display SC", $default-font-group;

$chef-section-img: url(../../img/chef/our-chef1.jpeg);
$chef-page-carousel-caption-style: normal 300 1.2rem Merriweather, $default-font-group;

$footer-font-style: normal 1.4rem Merriweather, $default-font-group;
$footer-icon-size-s: 1.5rem;
$footer-icon-size-m: 2rem;

$menu-section-style: normal bold 1.3rem Merriweather, $default-font-group;
